.section-top {
  height: 665px;
  background-image: url(./images/foto/fonOne.png);
  background-size: cover;
  box-sizing: border-box;
  padding-inline: 230px;
  position: relative;
  .brand-title {
    position: absolute;
    top: 276px;
    padding-left: 12px;
    border-left: 12px solid $colorContentTwo;
    font-size: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 24px;
    h1 {
      @include fontSource(60px, 0.7, 900, 0.025em);
      color: $colorContentOne;
    }
    h3 {
      @include fontSource(40px, 0.7, 900, 0.025em);
      span {
        color: $colorContentTwo;
      }
    }
  }
}
